DROP DATABASE IF EXISTS studentDB;
CREATE DATABASE studentDB;
USE studentDB;

CREATE TABLE students (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    firstName VARCHAR(100) NOT NULL,
    middleName VARCHAR(100) NOT NULL,
    lastName VARCHAR(100) NOT NULL,
    collegeProgram VARCHAR(100) NOT NULL,
    yearLevel VARCHAR(100) NOT NULL,
    studentID VARCHAR(100) NOT NULL UNIQUE,
    gmail VARCHAR(100) NOT NULL,
    studentProfile LONGTEXT
);
