-- CreateTable
CREATE TABLE `task` (
    `taskID` INTEGER NOT NULL AUTO_INCREMENT,
    `userID` INTEGER NULL,
    `taskName` VARCHAR(100) NOT NULL,
    `taskStatus` VARCHAR(100) NOT NULL,
    `taskPriority` VARCHAR(100) NOT NULL,
    `taskDate` TIMESTAMP(0) NOT NULL,

    INDEX `userID`(`userID`),
    PRIMARY KEY (`taskID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `todolistaccount` (
    `userID` INTEGER NOT NULL AUTO_INCREMENT,
    `firstName` VARCHAR(100) NOT NULL,
    `lastName` VARCHAR(100) NOT NULL,
    `gmail` VARCHAR(100) NOT NULL,
    `userPassword` VARCHAR(255) NOT NULL,

    PRIMARY KEY (`userID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

